In [1]:
import pandas as pd
from datetime import date
import numpy as np

In [2]:
df = pd.read_csv('C:\\Users\\noel.c.joaquin\\Desktop\\dummy_data.csv')
df_copy = df
df_copy

        number  opened_at resolved_at
0   INC1234567   1/2/2023    1/2/2023
1   INC1234568   1/3/2023    1/5/2023
2   INC1234569   1/4/2023    1/6/2023
3   INC1234570   1/5/2023    1/9/2023
4   INC1234571   1/6/2023    1/9/2023
5   INC1234572   1/9/2023    1/9/2023
6   INC1234573  1/10/2023   1/10/2023
7   INC1234574  1/11/2023   1/12/2023
8   INC1234575  1/12/2023   1/13/2023
9   INC1234576  1/13/2023   1/18/2023
10  INC1234577  1/16/2023   1/18/2023
11  INC1234578  1/17/2023   1/19/2023
12  INC1234579  1/18/2023   1/20/2023
13  INC1234580  1/19/2023   1/21/2023
14  INC1234581  1/20/2023   1/22/2023

In [ ]:
df_copy['date_diff'] = df_copy['resolved_at'] - df_copy['opened_at']
df_copy

In [4]:
import datetime
start = datetime.date(2023, 1, 23)
end = datetime.date(2023, 1, 30)

days = np.busday_count(start, end)
print('Number of business days is:', days)
print(f'start: {start}')

Number of business days is: 5
start: 2023-01-23

In [ ]:
# https://pynative.com/python-get-business-days/