In [1]:
# pip install pandasql

In [2]:
import pandas as pd
from pandasql import sqldf

In [3]:
df = pd.read_csv("scores.csv")
df

      name  age  score
0     Noel    8     79
1   Cedrix    8     80
2  Joaquin    8     95

In [4]:
result = sqldf("SELECT COUNT(*) FROM df")

ObjectNotExecutableError: Not an executable object: 'SELECT COUNT(*) FROM df'

In [5]:
x = [1,2,3,4]
def get_sum(x): 
    total = sum(x)
    return total
print(get_sum(x))

10

In [6]:
def get_sum2(x):
    total = 0
    for i in x:
        total += i
    return total
print(get_sum2(x))

10